.hbox{
    -fx-background-color: #40444f;
    -fx-padding: 5px 10px;
}

.logo{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 22px 22px;
    -fx-padding: 5px 10px;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/ico.png");
    -fx-border-width: 0;
}
.dialog-pane {
    -fx-graphic: url("../images/ico.png");
}
.title{
    -fx-text-fill: #fff;
    -fx-padding: 5px 10px;
}

.close{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 22px 22px;
    -fx-padding: 5px 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/close_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.close:hover{
    -fx-background-image: url("../images/close_1.png");
    -fx-border-width: 0;
}

.min{
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 22px 22px;
    -fx-padding: 5px 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/min_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.min:hover{
    -fx-background-image: url("../images/min_1.png");
    -fx-border-width: 0;
}

